<div class="main-footer">
  <div class="links">
    <a class="tag" href="/">About Us</a>
    <a class="tag" href="/">Careers</a>
    <a class="tag" href="/">Contact Us</a>
    <a class="tag" href="/">Franchising Opportunity</a>
    <a class="tag" href="/">Blog</a>
    <a class="tag" href="/">Terms And Conditons</a>
  </div>
  <div class="bottom-text">
    <p>
      Siddiqsons Ecomm (PVT) LTD , F-284 Site Area Karachi, Pakistan. © 2023
      Thewarehouse.pk ALL RIGHTS RESERVED
    </p>
  </div>
</div>
